body {
  font-family: Arial, Helvetics, sans-serif;
}

h1 {
  color: darkorange;
  font-style: italic;
}

li {
  color: darkslateblue;
  font-weight: bold;
  padding-top: 3px;
  font-size: 15px;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}
